.total-price-of-mac h4{
    border-bottom: 1px solid rgb(233, 218, 218) ;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.delivery-border{
    border-bottom: 3px solid black !important;
}
.promo-comde-btn{
    margin-top: 20px;
    background: rgb(255, 255, 255);
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    border: 1px solid #a5a9b1c7;
}
.promo-input{
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
    outline: none;
}
.promo-submit{
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -4px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 10px 50px;
    margin: 3px;
    background: #ee326a;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}